#map-area
  height 400px

#chat-area
  margin-top 5px

#navigation-area
  display inline-block
  .navigation-item
    cursor pointer
    span
      display: block
      background #eee
      padding 3px 6px
      border-radius 5px
      box-shadow 1px 1px 5px 0 #d0d0d0
      border 1px solid #cccccc
      text-decoration none

#global-messages
  border 1px solid #cccccc
  em
    text-shadow 0 1px 0 #fff
    color #999
  p
    padding 0
    margin 0
    font 12px Helvetica, Arial
    padding 5px 10px
    b
      display inline-block
      padding 0 10px
  p:nth-child(even)
    background #fafafa
  #nicknames
    border-top-left-radius 3px
    border-top-right-radius 3px
    background #ccc
    padding 2px 4px 4px
    font 11px Helvetica
    span
      color black
    b
      display inline-block
      color #fff
      background #999
      padding 3px 6px
      margin-right 5px
      border-radius 10px
      text-shadow 0 1px 0 #666
  #lines
    height 300px
    overflow auto
    overflow-x hidden
    overflow-y auto
    border-bottom-right-radius 3px
    border-bottom-left-radius 3px

#editor-area
  #avatar
    position absolute
    vertical-align middle
    margin-right 10px

#send-message
  position relative
  margin-left 50px
  textarea
    width 780px
    resize none
    border none
    box-shadow 0px 0px 4px grey
    height 30px
    padding 5px 10px
    &:focus
      outline 0
  button
    position absolute
    top 5px
    right 5px
    width 70px
    height 40px

