!=partial('register')

.container
  !=partial('map')

.container
  #chat.span-24
    form#send-message
      textarea#message
      button Send
.container
  #navigation-area.span-4
    .navigation-item
      span broadcast
  #message-area.span-20.last
    #global-messages.message-box
      #nicknames
      #lines

script
  // dom manipulation
  $(function () {
    $('#send-message').submit(function () {
      if (!nachbar.me) {
        $("#nickname").dialog({
          autoOpen: true,
          position: 'center',
          modal: true,
          close: function() {
            if (nachbar.me) $('#send-message').submit();
          }
        })
        return false;
      } else {
        nachbar.view.message('me', $('#message').val());
        nachbar.socket.emit('user message', $('#message').val());
        $('#message').val('').focus();
        return false;
      }
    });

    $("#message").keyup(function(event){
      if(event.keyCode == 13){
        $("#send-message button").click();
      }
    });

    //message function : interface to other modules
    nachbar.view.message = function (from, msg) {
      if(!msg) return;

      dt = new Date;
      msg = msg.replace(/\\n/g, "<br/>");
      $('#global-messages #lines').prepend($('<p>').append(dt.toLocaleTimeString(), $('<b>').text(from), msg));
    };

  })

