!=partial('register')

.container.content#map-container

.container.content#chat-area
  #navigation-area.span-4
    .navigation-item
      span broadcast
    .navigation-item
      span system
  .span-20.last#message-box-wrap

!=partial('templates/messagebox')

