!=partial('register')

.container
  !=partial('map')

.container
  #chat.span-24
    form#send-message
      textarea#message
      button Send
    #messages
      #nicknames
      #lines

script
  // dom manipulation
  $(function () {
    $('#send-message').submit(function () {
      nachbar.view.message('me', $('#message').val());
      nachbar.socket.emit('user message', $('#message').val());
      $('#message').val('').focus();
      return false;
    });

    $("#message").keyup(function(event){
      if(event.keyCode == 13){
        $("#send-message button").click();
      }
    });

    //message function : interface to other modules
    nachbar.view.message = function (from, msg) {
      dt = new Date;
      msg = msg.replace(/\\n/g, "<br/>");
      $('#lines').prepend($('<p>').append(dt.toLocaleTimeString(), $('<b>').text(from), msg));
    };

  })

