!=partial('register')

.container
  !=partial('map')

.container
  #chat.span-24
    form#send-message
      textarea#message
      button Send
    #messages
      #nicknames
      #lines

script
  // dom manipulation
  $(function () {
    $('#send-message').submit(function () {
      message('me', $('#message').val());
      socket.emit('user message', $('#message').val());
      $('#message').val('').focus();
      $('#lines').get(0).scrollTop = 10000000;
      return false;
    });

    $("#message").keyup(function(event){
      if(event.keyCode == 13){
        $("#send-message button").click();
      }
   });
  })

