doctype 5
html
  head
    link(href='/stylesheets/style.css', rel='stylesheet')
    link(href='/jquery-ui-1.8.16/jquery-ui-1.8.16.css', rel='stylesheet')
    link(href='/blueprint/screen.css', rel='stylesheet', media='screen, projection')
    link(href='/blueprint/print.css', rel='stylesheet', media='print')

    // [if lt IE 8]
      link(href='/blueprint/ie.css', rel='stylesheet', media="screen, projection")

    script(src='/javascripts/vendor/jquery-1.6.2.js')
    script(src='/jquery-ui-1.8.16/jquery-ui-1.8.16.js')
    script(src='/socket.io/socket.io.js')
    script(src='http://maps.googleapis.com/maps/api/js?sensor=false')

    script(src='/javascripts/socket.js')
  body
    .container
      h2 Welcome to use Nachbar!

    != body

    .container
      p Nachbar &copy 2011

