.container.content#map-container
  #map-area.span-24

script
  $(window).load(function() {
    var latlng = new google.maps.LatLng(32.060255, 118.796877);
    var myOptions = {
      zoom: 2,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    var map = new google.maps.Map($("#map-area").get(0),  myOptions);
    nachbar.map = map;

    // Try W3C Geolocation (Preferred)
    if(navigator.geolocation) {
      browserSupportFlag = true;
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
        map.setCenter(pos);
        map.setZoom(13);
        nachbar.me.updateLocation(position.coords.latitude, position.coords.longitude);
      }, function() {
        handleNoGeolocation(browserSupportFlag);
      });
    // Try Google Gears Geolocation
    } else if (google.gears) {
      browserSupportFlag = true;
      var geo = google.gears.factory.create('beta.geolocation');
      geo.getCurrentPosition(function(position) {
        initialLocation = new google.maps.LatLng(position.latitude, position.longitude);
        map.setCenter(initialLocation);
        map.setZoom(13);
        nachbar.me.updateLocation(position.coords.latitude, position.coords.longitude);
      }, function() {
        handleNoGeoLocation(browserSupportFlag);
      });
    // Browser doesn't support Geolocation
    } else {
      browserSupportFlag = false;
      handleNoGeolocation(browserSupportFlag);
    }

    function handleNoGeolocation(errorFlag) {
      if (errorFlag == true) {
        alert("Geolocation service failed.");
      } else {
        alert("Your browser doesn't support geolocation.");
      }
      nachbar.me.updateLocation(latlng.lat(), latlng.lng());
      map.setZoom(2);
    }
  })
