doctype 5
html
  head
    link(href='/jquery-ui-1.8.16/jquery-ui-1.8.16.css', rel='stylesheet')
    link(href='/stylesheets/blueprint/screen.css', rel='stylesheet', media='screen, projection')
    link(href='/stylesheets/blueprint/print.css', rel='stylesheet', media='print')
    link(href='/stylesheets/common.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')

    // [if lt IE 8]
      link(href='/stylesheets/blueprint/ie.css', rel='stylesheet', media="screen, projection")

    script(src='/javascripts/vendor/jquery-1.6.2.js')
    script(src='/jquery-ui-1.8.16/jquery-ui-1.8.16.js')
    script(src='/javascripts/vendor/json2.js')
    script(src='/javascripts/vendor/underscore.js')
    script(src='/javascripts/vendor/backbone.js')
    script(src='/socket.io/socket.io.js')
    script(src='http://maps.googleapis.com/maps/api/js?sensor=false')

    script(src='/nachbar.js')
    script(src='/models/me.js')
    script(src='/models/user.js')
    script(src='/views/view.js')
    script(src='/views/map.view.js')
    script(src='/views/me.map.view.js')
    script(src='/views/user.map.view.js')
    script(src='/views/toolbar.view.js')
    script(src='/views/message.box.view.js')
    script(src='/views/chat.box.view.js')
    script(src='/controllers/message.boxes.controller.js')
    script(src='/controllers/me.controller.js')
    script(src='/controllers/nearbys.controller.js')
    script(src='/controllers/socket.controller.js')

    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25815108-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body
    #header
      .container
        h2 Nachbar!
        #information-banner

    != body

    #footer.container
      p Nachbar &copy 2011

