#nickname(title="Create a profile")
  form.wrap#set-nickname
    p.validateTips Please type in your nickname
    input#nick
    button#submit Send

:stylus
  .ui-dialog .ui-state-error 
    padding .3em
  .validateTips
    border 1px solid transparent
    padding 0.3em

:coffeescript
  $ ->
    e_tips = $(".validateTips")
    e_nickname = $("#nick")
    allFields = $([]).add(e_nickname)

    updateTips = (t) ->
      $(".validateTips").text(t).addClass("ui-state-highlight")
      setTimeout( -> 
        $(".validateTips").removeClass("ui-state-highlight", 1500)
      , 500)

    checkLength = (o, n, min, max) ->
      if o.val().length > max || o.val().length < min
        o.addClass("ui-state-error")
        updateTips("Length of " + n + " must be between " +  min + " and " + max + ".")
        return false
      else
        return true

    checkRegexp = (o, regexp, n) ->
      if !regexp.test o.val()
        o.addClass("ui-state-error")
        updateTips(n)
        return false
      else
        return true

    $("#set-nickname").submit -> 
      submit()
      return false

    submit = ->
      bValid = true
      allFields.removeClass "ui-state-error"

      bValid = checkLength(e_nickname, "nickname", 1, 16)
      return if !bValid

      name = e_nickname.val()
      nachbar.socket.emit 'nickname', name, (id)->
        nachbar.me.id = id
        nachbar.me.name = name
        nachbar.me.updateState(nachbar.models.Me.States.ONLINE)

        $("#nickname").dialog("close")

